@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.error{
  color:#ff5861;
}

.google-login-btn div{
  border : none !important;
}
.google-login-btn {
  /* Your button styles here */
  padding: 5px;
  border: none;
  cursor: pointer;
  overflow: hidden; /* Ensure inner content is clipped if necessary */
}

.google-login-btn div {
  transition: background-color .5s; /* Set transition duration for background color */
}

.google-login-btn:hover div {
  --tw-bg-opacity: 1;
  background-color: rgb(224, 242, 254 / var(--tw-bg-opacity)); /* Change background color on hover */
}
.google-login-btn:hover div:hover{
  --tw-bg-opacity: 1;
  background-color: transparent !important;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none;      /* For Firefox */
}

.section-container {
  @apply flex justify-center w-full px-4 md:px-24 2xl:px-32 py-8;
}
.container{
  @apply w-full max-w-full h-full;
}
/* outlet-container  */